// Button Variations
.btn-medium{
	height: 60px;
	font-size: $font-size-medium;
	font-weight: bold;
}
.btn-mbig{
	height: 72px;
	font-size: $font-size-medium;
	font-weight: bold;
}
.btn-big{
	font-size: $font-size-medium;
	padding: 14px 36px;
	height: 80px;
}
.btn-normal{
	font-size: $font-size-micro;
	padding: 11px 35px;
}
.btn-transparent{
	background:transparent;
	color: $white !important;
}
.btn-medium{
	.icon{
		font-size: $font-size-grande;
		margin-left: 5px;
		line-height: normal;
		vertical-align: middle;

	}
}

// Button Color Variations
.btn-black{
	background: $main;
	color: $white !important;
	&:hover{
		background: darken($main, 5%) !important;
	}
	&:active{
		&:focus{
			outline: none;
		}
	}
	&:focus{
		outline: none;
	}
}
.btn-white{
	background: $white;
	color: $main !important;
	&:hover{
		background: darken($white, 5%) !important;
	}
	&:active{
		&:focus{
			outline: none;
		}
	}
	&:focus{
		outline: none;
	}
}
.btn-main{
	background: $main;
	color: $white;
	&:hover{
		background: darken($main, 5%) !important;
	}
	&:active{
		&:focus{
			outline: none;
		}
	}
	&:focus{
		outline: none;
	}
}
// Underline Version
.btn-main-liner{
	background: $main;
	border-bottom: 4px solid $tosca;
	color: $white;
	&:hover{
		border-bottom-color: darken($tosca, 5%);
		background: darken($main, 5%) !important;
		color: $white;
	}
	&:active{
		&:focus{
			outline: none;
		}
	}
	&:focus{
		outline: none;
	}
}
// Outline Version
.btn-outline-white{
	background: transparent;
	color: $white !important;
	border: 1px solid $white;
	&:hover{
		border: 1px solid darken($white, 10%) !important;
		color: darken($white, 10%) !important;
	}
	&:active{
		&:focus{
			outline: none;
		}
	}
	&:focus{
		outline: none;
	}
}
.btn-outline-grey{
	background: transparent;
	color: $darkgrey !important;
	border: 1px solid $outline-light-grey;
	transition-duration: 300ms;
	transition-delay: 200ms;
	margin-bottom: 1.5rem;
	&:hover{
		border: 1px solid $main !important;
	}
	&:active{
		&:focus{
			outline: none;
		}
	}
	&:focus{
		outline: none;
	}
	&.btn-with-image{
		text-align: left;
		img{
			height: 100%;
			max-height: 40px;
			margin-right: 1rem;
			padding: 5px;
			width: 40px;
			object-fit: contain;
		}
	}
	&.btn-with-icon{
		text-align: center;
		i{
			padding-right: 5px;
			font-size: 1.8rem;
			vertical-align: middle;
			color: $main;
		}
		strong{
			vertical-align: middle;
		}

	}
}
@media (max-width: 575.98px){
	.btn-big{
		height: 70px;
	}
	.btn-outline-grey{
		margin-bottom: 1.2rem;
	}
	.btn-with-image{
		padding: 13px 20px !important;
		img{
			padding: 6px;
			margin-right: .5rem !important;
		}
		span{
			font-size: 1rem;
		}
	}
	.btn-with-icon{
		padding: 0 20px !important;
		font-size: 1rem;
		height: 70px;
		line-height: 70px;
		i{
			padding-right: 5px;
			font-size: 1.5rem;
			vertical-align: middle;
			color: $main;
		}
		strong{
			vertical-align: middle;
		}

	}
}
// Small devices (landscape phones, 576px and up)
@media (max-width: 768px) and (orientation: landscape){

}
@media (min-width: 576px) and (max-width: 767.98px) and (orientation: landscape){

}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) and (orientation: portrait) {
	.btn-with-image{
		padding: 18px 20px !important;
	}
	.btn-with-icon{
		padding: 0 20px !important;
		font-size: 1rem;
		height: 70px;
		line-height: 70px;
		i{
			padding-right: 5px;
			font-size: 1.5rem;
			vertical-align: middle;
			color: $main;
		}
		strong{
			vertical-align: middle;
		}

	}
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 1280px) and (orientation: landscape) {

}
// Large devices (1440px and up)
@media (min-width: 1440px){

}
// Large devices (1440px and up)
@media (min-width: 991.98px) and (orientation: portrait){

}