// color Styling
$main				: #25a69d;
$black				: #000000;
$darkgrey			: #666666;
$grey				: #616161;
$grey-heading		: #707070;
$grey-subheading	: #636363;
$grey-text			: #424242;
$grey-form-subtitle	: #6c6c6c;
$grey-liner			: #b7b7b7;
$grey-info			: #a0a0a0;
$grey-help			: #7e7e7e;
$grey-bgr			: #f8f8f8;
$light-grey-loan	: #7a7a7a;
$light-grey-chart	: #7b7b7b;
$light-grey			: #f9f9f9;
$light-grey-heading	: #a5a5a5;
$light-grey-text	: #b0b0b0;
$light-grey-subtext	: #838383;
$light-grey-help	: #878787;
$outline-super-light: #f0f0f0;
$outline-light-grey	: #ededed;
$outline-grey		: #d7d7d7;
$outline-review-grey: #e7e7e7;
$super-light-grey	: #ededed;
$progress-light		: #f1f1f1;
$white				: #ffffff;
$yellow				: #e4ca39;
$tosca				: #218f87;
$light-tosca		: #4eb7af;
$grey-tosca			: #7c8786;
$orange				: #ffbf3e;
$lightgreen			: #aacb0e;